@font-face {
    font-family: "Tisa Sans Pro";
    src: url('/ressources/fonts/TisaSansPro-BlackItalic.ttf');
}

@font-face {
    font-family: "Tisa Sans Pro-light";
    src: url('/ressources/fonts/TisaSansPro-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

#previousPageButton, #nextPageButton {
    position: fixed;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 5;
}

#previousPageButton {
    left: 5vh;
    top: 5vh;
}

#nextPageButton {
    bottom: 5vh;
    left: 0;
    right: 0;
    margin: auto;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

h2 {
    font-size: 71px;
    text-align: center;
    color: #363A65;
    font-family: "Tisa Sans Pro";
    font-weight: 900;
    line-height: 77px;
    padding: 10px 0;
}

.none {
    display: none;
}

/*/ Buttons /*/

a {
    font-family: "Tisa Sans Pro";
    font-weight: 800;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none !important;
}

.wthBtn, .bordBtn {
    border-radius: 50px;
    width: max-content;
    margin: auto;
}

.innerBtn {
    border-radius: 20px;
}

.wthBtn {
    border: 10px solid #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    z-index: 10;
}

.bordBtn {
    display: flex;
    width: max-content;
    align-items: center;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    color: white;
    background: white;
    background-clip: padding-box;
    border: solid 5px transparent;
}

.bordBtn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
}

.innerBtn {
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none !important;
}

.wthBtn:hover, .innerBtn:hover, .selectedTag {
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
    /* box-shadow: none; */
}

.innerBtn:hover {
    cursor: pointer;
}

span {
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
}

/******************************** home Page ********************************/

#logo, #SVGLogo, #bordBtn, #SVGLogo2 {
    margin: auto;
    width: max-content;
}

#logo img {
    width: 300px;
}

.bille {
    position: absolute;
}

#bille6:hover, #bille7:hover {
    width: 130px;
}

#bille4:hover, #bille3:hover, #bille2:hover {
    width: 90px;
}

#bille1:hover, #bille5:hover, #bille8:hover {
    width: 60px;
}

#bille1 {
    top: 0.5vh;
    right: 4vw;
}

#bille2 {
    top: 10vh;
    left: 3vw;
}

#bille3 {
    top: 16vh;
    right: 10vw;
}

#bille4 {
    top: 23vh;
    right: 30vw;
}

#bille5 {
    top: 40vh;
    left: 18vw;
}

#bille6 {
    top: 42vh;
    right: 0;
}

#bille7 {
    bottom: 18vh;
    left: 8vw;
}

#bille8 {
    bottom: 0.5vh;
    right: 28vw;
}

/******************************** weSplitch Page ********************************/

/******************************** newSocialNetwork Page ********************************/

#phone {
    position: absolute;
    left: 10vw;
}

#newSocialNetwork h2 {
    margin-left: 12vw;
}

/******************************** passion Page ********************************/

#ballon {
    margin-bottom: -25px;
}

/******************************** howBasket Page ********************************/

#howBasket {
    background: url(/ressources/img/basketBckgrnd.png) no-repeat 50% 20%;
    background-size: cover;
}

#howBasket .wthBtn {
    margin-bottom: 20vh;
}

#basketPlayerImg {
    position: absolute;
    bottom: -25vh;
}

/******************************** exchange Page ********************************/

#iconsExchange {
    display: flex;
    align-items: flex-start;
}

#iconsExchange img {
    margin: 15px;
}

#iconsExchange img:nth-child(2) {
    margin-top: 70px;
}

#exchangeImg3, #exchangeImg1 {
    width: 165px;
}

#exchangeImg2 {
    width: 241px;
}

/******************************** emotion Page ********************************/

#emotion h2 {
    margin-bottom: 5vh;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.splide__arrow {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: -8%;
    top: 20%;
    z-index: 10;
}

#splide01 {
    margin-right: 5vw;
}

#background2 {
    position: absolute;
    right: 0;
    top: 10vh;
    z-index: -10;
}

#background1 {
    position: absolute;
    right: 0;
    top: 50vh;
    z-index: -10;
}

/******************************** connect Page ********************************/

.connectImg {
    position: absolute;
}

#connectImg1 {
    bottom: 5vh;
    right: 2vw;
}

#connectImg2 {
    top: 3vh;
    right: 30vw;
}

#connectImg3 {
    bottom: -1.5vh;
    left: 1vw;
}

/******************************** beFirst Page ********************************/

.beFirstImg {
    position: absolute;
    opacity: 1;
}

#bckGrndImgBefirs1 {
    top: 13vh;
    left: -2vw
}

#bckGrndImgBefirs2 {
    top: 1vh;
    left: 17vw
}

#bckGrndImgBefirs3 {
    top: 13vh;
    left: 31vw
}

#bckGrndImgBefirs4 {
    top: -2vh;
    left: 44vw
}

#bckGrndImgBefirs5 {
    top: 6vh;
    right: 37vw;
}

#bckGrndImgBefirs6 {
    top: -11vh;
    right: 24vw;
}

#bckGrndImgBefirs7 {
    top: 17vh;
    right: 13vw
}

#bckGrndImgBefirs8 {
    top: 11vh;
    right: -1vw;
}

#bckGrndImgBefirs9 {
    bottom: 22vh;
    left: 2vw;
}

#bckGrndImgBefirs10 {
    bottom: 6vh;
    left: 15vw;
}

#bckGrndImgBefirs11 {
    bottom: 12vh;
    left: 29vw;
}

#bckGrndImgBefirs12 {
    bottom: -4vh;
    left: 40vw;
}

#bckGrndImgBefirs13 {
    bottom: 4vh;
    right: 42vw;
}

#bckGrndImgBefirs14 {
    bottom: 14vh;
    right: 30vw;
}

#bckGrndImgBefirs15 {
    bottom: 8vh;
    right: 18vw;
}

#bckGrndImgBefirs16 {
    bottom: 23vh;
    right: 4vw;
}

#bckGrndImgBefirs17 {
    top: 25vh;
    left: 10vw;
}

#bckGrndImgBefirs18 {
    top: 20vh;
    right: 25vw;
}

/******************************** enterInGame Page ********************************/

#enterInGame .wthBtn {
    margin-top: 30px;
}

/******************************** reserve Page ********************************/

#pic, #reserve h2 {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    width: 703px;
    height: 25px;
    padding: 20px 30px;
    font-family: "Tisa Sans Pro-light";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    margin-right: 20px;
}

input[type="submit"] {
    border: none;
}

/******************************** putAside Page ********************************/

/******************************** whatYouThrill Page ********************************/

#mainTagCategories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mainCategorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 0;
}

.mainCategorie:hover {
    cursor: pointer;
    transform: scale(120%);
    transition: all 0.2s;
}

.mainCategorie img, .mainCategorieTitle img {
    margin-bottom: 20px;
}

.mainCategorie p, .mainCategorieTitle p {
    font-family: "Tisa Sans Pro";
    color: #363A65;
    font-size: 30px;
    line-height: 32.49px;
}

.mainCategorieTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

/******************************** tags Pages ********************************/

#tags h2 {
    margin-bottom: 40px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0 5vw;
    margin-bottom: 20px;
}

.tags p {
    height: max-content;
    width: max-content;
    margin: 10px 12px;
    padding: 10px 27px;
    box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    background-color: white;
    color: #363A65;
    font-family: "Tisa Sans Pro";
    cursor: pointer;
    opacity: 0;
}

.tags p:hover, .selectedTag {
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
    box-shadow: none;
}

.titleOftag {
    margin-bottom: 10px;
}

.tagLegend {
    font-family: "Tisa Sans Pro-light" !important;
}

.tagsButton {
    position: absolute;
    right: 7vw;
    bottom: 6vh;
}

/******************************** cantWaitToThrill Page ********************************/

/******************************** whatBadge Page ********************************/

#whatBadge form {
    display: flex;
    flex-direction: column;
}

#badgesList {
    margin-top: 50px;
    display: flex;
}

#badgesList img {
    width: 250px;
    margin: 0 50px;
}

#badgesList img:hover:not(.selectedBadge), .selectedBadge {
    cursor: pointer;
    transform: scale(120%);
    transition: all 0.2s;
}

input[type="radio"] {
    opacity: 0;
}

#badgeButton {
    margin-top: 50px;
}

/******************************** goodChoice Page ********************************/

/******************************** whatMail Page ********************************/

/******************************** prepareProfile Page ********************************/

#prgressBarBckgrnd {
    margin-top: 40px;
    width: 325px;
    border-radius: 40px;
    background: #e5e5e5;
}

#progressBar {
    width: 10%;
    border-radius: 40px;
    height: 39px;
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
}

/******************************** followUs Page ********************************/

#followButton {
    margin-top: 40px;
}

#thank {
    position: absolute;
    right: 20vw;
    bottom: 5vh;
}