@font-face {
    font-family: "Tisa Sans Pro";
    src: url('/ressources/fonts/TisaSansPro-BlackItalic.ttf');
}

@font-face {
    font-family: "Tisa Sans Pro-light";
    src: url('/ressources/fonts/TisaSansPro-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

#previousPageButton, #nextPageButton {
    position: fixed;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 5;
}

#previousPageButton {
    left: 5vh;
    top: 5vh;
}

#nextPageButton {
    bottom: 5vh;
    left: 0;
    right: 0;
    margin: auto;
}

@media only screen and (max-width: 775px) {
    #nextPageButton {
        right: 10vw;
        left: auto;
        margin: 0;
    }
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

h2 {
    font-size: 71px;
    text-align: center;
    color: #363A65;
    font-family: "Tisa Sans Pro";
    font-weight: 900;
    line-height: 77px;
    padding: 10px 0;
}

.step {
    color: #363A65;
    font-family: "Tisa Sans Pro";
    font-size: 40px;
    position: absolute;
    top: 1vh;
}

@media only screen and (max-width: 700px) {
    .step {
        font-size: 20px;
        top: 5vh;
    }
}

.none {
    display: none;
}

/*/ Buttons /*/

a {
    font-family: "Tisa Sans Pro";
    font-weight: 800;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none !important;
}

.wthBtn, .bordBtn {
    border-radius: 50px;
    width: max-content;
    margin: auto;
}

.innerBtn {
    border-radius: 20px;
}

.wthBtn {
    border: 10px solid #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    z-index: 10;
}

.bordBtn {
    display: flex;
    width: max-content;
    align-items: center;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    color: white;
    background: white;
    background-clip: padding-box;
    border: solid 5px transparent;
}

.bordBtn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
}

.innerBtn {
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none !important;
}

.wthBtn:hover, .innerBtn:hover, .selectedTag {
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
    /* box-shadow: none; */
}

.innerBtn:hover {
    cursor: pointer;
}

.degradeH2 {
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
}

/******************************** home Page ********************************/

#logo, #SVGLogo, #bordBtn, #SVGLogo2 {
    margin: auto;
    width: max-content;
}

#logo img {
    width: 300px;
}

.bille {
    position: absolute;
}

#bille1 {
    top: 0.5vh;
    right: 4vw;
    width: 42px;
}

#bille1:hover {
    width: 62px;
}

#bille2 {
    top: 10vh;
    left: 3vw;
    width: 85px;
}

#bille2:hover {
    width: 105px;
}

#bille3 {
    top: 16vh;
    right: 10vw;
    width: 79px;
}

#bille4 {
    top: 23vh;
    right: 30vw;
    width: 79px;
}

#bille3:hover, #bille4:hover {
    width: 99px;
}

#bille5 {
    top: 40vh;
    left: 18vw;
    width: 52px;
}

#bille5:hover, #bille8:hover {
    width: 72px;
}

#bille6 {
    top: 42vh;
    right: -2vw;
    width: 131px;
}

#bille6:hover {
    width: 151px;
}

#bille7 {
    bottom: 18vh;
    left: 8vw;
    width: 108px;
}

#bille7:hover {
    width: 128px;
}

#bille8 {
    bottom: 0.5vh;
    right: 28vw;
    width: 52px;
}

@media only screen and (max-width: 1199px) {
    #bille1 {
        top: 0.5vh;
        right: 4vw;
    }
    #bille2 {
        top: 10vh;
        left: 0;
    }
    #bille3 {
        top: 16vh;
        right: 5vw;
    }
    #bille4 {
        top: 23vh;
        right: 25vw;
    }
    #bille5 {
        top: 40vh;
        left: 9vw;
    }
    #bille6 {
        top: 42vh;
        right: -2vw;
    }
    #bille7 {
        bottom: 18vh;
        left: 3vw;
    }
    #bille8 {
        bottom: 0.5vh;
        right: 21vw;
    }
}

@media only screen and (max-width: 899px) {
    #bille1 {
        top: 2vh;
        left: 49vw;
        width: 22px;
    }
    #bille2 {
        top: 5vh;
        left: -3vw;
    }
    #bille3 {
        top: 39vh;
        right: 20vw;
        width: 22px;
    }
    #bille4 {
        top: -1vh;
        right: 3vw;
        width: 52px;
    }
    #bille5 {
        top: 47vh;
        left: 4vw;
        width: 30px;
    }
    #bille6 {
        top: 63vh;
        right: 1vw;
        width: 42px;
    }
    #bille7 {
        bottom: 3vh;
        left: -1vw;
        width: 54px;
    }
    #bille8 {
        bottom: -1vh;
        right: 9vw;
        width: 83px;
    }
}

@media only screen and (max-width: 739px) {
    #logo img {
        width: 190px;
    }
    #SVGLogo svg {
        width: 220px;
    }
}

/******************************** weSplitch Page ********************************/

@media only screen and (max-width: 739px) {
    #weSplitch h2 {
        font-size: 40px;
        line-height: 64px;
    }
}

/******************************** newSocialNetwork Page ********************************/

#phone {
    position: absolute;
    width: 283px;
    left: 13vw;
}

#newSocialNetwork h2 {
    margin-left: 12vw;
}

@media only screen and (max-width: 1799px) {
    #newSocialNetwork h2 {
        margin-left: 20vw;
    }
}

@media only screen and (max-width: 1599px) {
    #newSocialNetwork h2 {
        margin-left: 33vw;
    }
}

@media only screen and (max-width: 1399px) {
    #phone {
        width: 283px;
        left: 7vw;
    }
    #newSocialNetwork h2 {
        margin-left: 30vw;
    }
}

@media only screen and (max-width: 1399px) {
    #phone {
        width: 217px;
    }
}

@media only screen and (max-width: 1255px) {
    #newSocialNetwork h2 {
        margin-left: 25vw;
    }
}

@media only screen and (max-width: 1189px) {
    #phone {
        position: unset;
        margin-bottom: 40px;
    }
    #newSocialNetwork h2 {
        margin-left: 0;
    }
}

@media only screen and (max-width: 889px) {
    #newSocialNetwork h2 {
        font-size: 40px;
        line-height: 64px;
    }
}

/******************************** passion Page ********************************/

#ballon {
    margin-bottom: -25px;
}

@media only screen and (max-width: 969px) {
    #ballon img {
        width: 127px;
    }
    #ballon {
        margin-bottom: -20px;
    }
    #shadow img {
        width: 110px;
    }
    #passion h2 {
        font-size: 40px;
        line-height: 64px;
    }
}

/******************************** howBasket Page ********************************/

/* #howBasket {
    background: url(/ressources/img/basketBckgrnd.png) no-repeat 50% 20%;
    background-size: cover;
}

#howBasket .wthBtn {
    margin-bottom: 20vh;
}

#basketPlayerImg {
    position: absolute;
    bottom: -25vh;
} */

/******************************** exchange Page ********************************/

#iconsExchange {
    display: flex;
    align-items: flex-start;
}

#iconsExchange img {
    margin: 15px;
}

#iconsExchange img:hover {
    cursor: pointer;
}

#iconsExchange img:nth-child(2) {
    margin-top: 70px;
}

#exchangeImg3, #exchangeImg1 {
    width: 165px;
}

#exchangeImg2 {
    width: 241px;
}

@media only screen and (max-width: 999px) {
    #exchange h2 {
        font-size: 40px;
        line-height: 64px;
    }
    #iconsExchange img {
        margin: 10px;
    }
    #exchangeImg3, #exchangeImg1 {
        width: 85px;
    }
    #iconsExchange img:nth-child(2) {
        margin-top: 30px;
    }
    #exchangeImg2 {
        width: 141px;
    }
}

/******************************** emotion Page ********************************/

#emotion h2 {
    margin-bottom: 5vh;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.splide__arrow {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: -8%;
    top: 22%;
    z-index: 10;
}

#splide01 {
    margin-right: 5vw;
}

.slideImg {
    width: 276px;
}

#sliderPlus {
    width: 250px;
}

/* #background2 {
    position: absolute;
    right: 0;
    top: 10vh;
    z-index: -10;
}

#background1 {
    position: absolute;
    right: 0;
    top: 50vh;
    z-index: -10;
} */

@media only screen and (max-width: 999px) {
    #emotion h2 {
        font-size: 40px;
        line-height: 64px;
    }
    #splide01 {
        margin-right: none;
    }
    #sliderPlus {
        width: 170px;
    }
    button.splide__arrow {
        right: 1%;
        top: 33%;
    }
}

/******************************** connect Page ********************************/

#connect h2 {
    margin-top: 15vh;
}

.connectImg {
    position: absolute;
}

#connectImg1 {
    top: 2vh;
    width: 290px;
}

#connectImg2 {
    top: 8vh;
    right: 9vw;
    width: 180px;
}

#connectImg3 {
    bottom: -1.5vh;
    left: 2vw;
    width: 251px;
}

#connectImg4 {
    top: 5vh;
    left: 6vw;
    width: 186px;
}

#connectImg5 {
    bottom: -1.5vh;
    right: 6vw;
    width: 400px;
}

#btnConnect {
    margin-top: 40px;
}

@media only screen and (max-width: 1659px) {
    #connectImg1 {
        top: 2vh;
        width: 240px;
    }
    #connectImg2 {
        top: 8vh;
        right: 9vw;
        width: 160px;
    }
    #connectImg3 {
        bottom: -1.5vh;
        left: 2vw;
        width: 211px;
    }
    #connectImg4 {
        top: 5vh;
        left: 6vw;
        width: 166px;
    }
    #connectImg5 {
        bottom: -1.5vh;
        right: 6vw;
        width: 350px;
    }
}

@media only screen and (max-width: 1369px) {
    #connectImg1 {
        top: 2vh;
        width: 210px;
    }
    #connectImg2 {
        top: 8vh;
        right: 9vw;
        width: 130px;
    }
    #connectImg3 {
        bottom: -1.5vh;
        left: 2vw;
        width: 181px;
    }
    #connectImg4 {
        top: 5vh;
        left: 6vw;
        width: 136px;
    }
    #connectImg5 {
        bottom: -1.5vh;
        right: 6vw;
        width: 320px;
    }
}

@media only screen and (max-width: 1069px) {
    #connectImg1 {
        top: 2vh;
        width: 180px;
    }
    #connectImg2 {
        top: 8vh;
        right: 9vw;
        width: 100px;
    }
    #connectImg3 {
        bottom: -1.5vh;
        left: 2vw;
        width: 151px;
    }
    #connectImg4 {
        top: 5vh;
        left: 6vw;
        width: 106px;
    }
    #connectImg5 {
        bottom: -1.5vh;
        right: 6vw;
        width: 290px;
    }
}

@media only screen and (max-width: 969px) {
    #connect h2 {
        font-size: 30px;
        line-height: 64px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 744px) {
    #connectImg1 {
        top: 5vh;
        right: 2vw;
        width: 128px;
    }
    #connectImg2 {
        top: 5vh;
        left: 10vw;
        right: 0;
        width: 90px;
    }
    #connectImg3 {
        bottom: -1.5vh;
        left: 2vw;
        width: 111px;
    }
    #connectImg4 {
        display: none;
    }
    #connectImg5 {
        bottom: -1.5vh;
        right: 2vw;
        width: 204px;
    }
}

/******************************** beFirst Page ********************************/

.beFirstImg {
    position: absolute;
    opacity: 1;
}

#bckGrndImgBefirs1 {
    top: 13vh;
    left: -2vw
}

#bckGrndImgBefirs2 {
    top: 1vh;
    left: 17vw
}

#bckGrndImgBefirs3 {
    top: 13vh;
    left: 31vw
}

#bckGrndImgBefirs4 {
    top: -2vh;
    left: 44vw
}

#bckGrndImgBefirs5 {
    top: 6vh;
    right: 37vw;
}

#bckGrndImgBefirs6 {
    top: -11vh;
    right: 24vw;
}

#bckGrndImgBefirs7 {
    top: 17vh;
    right: 13vw
}

#bckGrndImgBefirs8 {
    top: 11vh;
    right: -1vw;
}

#bckGrndImgBefirs9 {
    bottom: 22vh;
    left: 2vw;
}

#bckGrndImgBefirs10 {
    bottom: 6vh;
    left: 15vw;
}

#bckGrndImgBefirs11 {
    bottom: 12vh;
    left: 29vw;
}

#bckGrndImgBefirs12 {
    bottom: -4vh;
    left: 40vw;
}

#bckGrndImgBefirs13 {
    bottom: 4vh;
    right: 42vw;
}

#bckGrndImgBefirs14 {
    bottom: 14vh;
    right: 30vw;
}

#bckGrndImgBefirs15 {
    bottom: 8vh;
    right: 18vw;
}

#bckGrndImgBefirs16 {
    bottom: 23vh;
    right: 4vw;
}

#bckGrndImgBefirs17 {
    top: 25vh;
    left: 10vw;
}

#bckGrndImgBefirs18 {
    top: 20vh;
    right: 25vw;
}

@media only screen and (max-width: 1159px) {
    #bckGrndImgBefirs5, #bckGrndImgBefirs7, #bckGrndImgBefirs17, #bckGrndImgBefirs14, #bckGrndImgBefirs12 {
        display: none;
    }
}

@media only screen and (max-width: 939px) {
    #toGetBadge h2, #beFirst h2 {
        font-size: 30px;
        line-height: 64px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 899px) {
    #bckGrndImgBefirs3, #bckGrndImgBefirs10 {
        display: none;
    }
}

@media only screen and (max-width: 899px) {
    .beFirstImg {
        width: 72px;
    }
    #bckGrndImgBefirs1 {
        top: 23vh;
        left: 11vw
    }
    #bckGrndImgBefirs2 {
        display: none;
    }
    #bckGrndImgBefirs4 {
        top: 3vh;
        left: -3vw
    }
    #bckGrndImgBefirs6 {
        top: 4vh;
        right: -3vw;
    }
    #bckGrndImgBefirs8 {
        top: 25vh;
        right: 1vw;
    }
    #bckGrndImgBefirs9 {
        bottom: -7vh;
        left: 15vw;
    }
    #bckGrndImgBefirs11 {
        bottom: 18vh;
        right: auto;
        left: 6vw;
    }
    #bckGrndImgBefirs13 {
        top: 13vh;
        left: auto;
        right: 38vw;
    }
    #bckGrndImgBefirs15 {
        bottom: -3vh;
        right: -5vw;
    }
    #bckGrndImgBefirs16 {
        bottom: 20vh;
        right: 8vw;
    }
    #bckGrndImgBefirs18 {
        top: auto;
        left: auto;
        right: 40vw;
        bottom: 15vh;
    }
}

/******************************** enterInGame Page ********************************/

#enterInGame .wthBtn {
    margin-top: 50px;
}

@media only screen and (max-width: 859px) {
    #enterInGame h2 {
        font-size: 40px;
        line-height: 64px;
    }
    #enterInGame #bille3, #enterInGame #bille5, #enterInGame #bille6 {
        display: none;
    }
}

/******************************** reserve Page ********************************/

#pic, #reserve h2 {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    width: 703px;
    height: 25px;
    padding: 20px 30px;
    font-family: "Tisa Sans Pro-light";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    margin-right: 20px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt rgb(192, 192, 192);
}

input[type="submit"] {
    border: none;
}

@media only screen and (max-width: 989px) {
    form {
        display: flex;
        flex-direction: column;
    }
    #reserve .wthBtn, #whatMail .wthBtn {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 813px) {
    input[type="text"] {
        width: 70vw;
        margin: auto;
    }
}

@media only screen and (max-width: 710px) {
    #reserve h2 {
        font-size: 40px;
        line-height: 64px;
    }
}

/******************************** putAside Page ********************************/

@media only screen and (max-width: 879px) {
    #putAside h2 {
        font-size: 40px;
        line-height: 64px;
    }
}

/******************************** whatYouThrill Page ********************************/

#mainTagCategories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mainCategorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 0;
}

#Creativity:hover {
    cursor: pointer;
    transform: scale(130%) !important;
    transition: all 0.2s !important;
}

.mainCategorie img, .mainCategorieTitle img {
    margin-bottom: 20px;
}

.mainTag {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px;
}

.mainTag img {
    margin-bottom: 20px;
}

.mainCategorie p, .mainCategorieTitle p, .mainTagName {
    font-family: "Tisa Sans Pro";
    color: #363A65;
    font-size: 30px;
    line-height: 32.49px;
}

.mainCategorieTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

@media only screen and (max-width: 999px) {
    #whatYouThrill h2 {
        font-size: 40px;
        line-height: 64px;
    }
    .mainTag img {
        width: 75px;
    }
    .mainTagName {
        font-size: 15px;
        line-height: 16px;
    }
}

@media only screen and (max-width: 673px) {
    #mainTagCategories {
        flex-wrap: wrap;
        width: 350px;
    }
    .mainTag {
        margin: 20px 20px;
    }
}

/******************************** tags Pages ********************************/

.mainCategorieTitle img {
    width: 140px;
    margin-bottom: 20px;
}

#tags h2 {
    margin-bottom: 40px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0 5vw;
    margin-bottom: 20px;
}

.tags p {
    height: max-content;
    width: max-content;
    margin: 10px 12px;
    padding: 10px 27px;
    box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    background-color: white;
    color: #363A65;
    font-family: "Tisa Sans Pro";
    cursor: pointer;
    opacity: 0;
}

.tags p:hover, .selectedTag {
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
    box-shadow: none;
}

.titleOftag {
    margin-bottom: 20px;
}

.tagLegend {
    font-family: "Tisa Sans Pro-light" !important;
}

.tagsButton {
    position: absolute;
    right: 7vw;
    bottom: 6vh;
}

@media only screen and (max-width: 989px) {
    .mainCategorieTitle img {
        width: 71px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 775px) {
   
    .mainCategorieTitle img {
        width: 71px;
        margin-bottom: 10px;
    }
    .mainCategorieTitle {
        margin-bottom: 10px;
    }
    .titleOftag {
        margin-bottom: 0;
    }
    .titleOftag, .tagLegend {
        font-size: 15px !important;
    }
    .tags {
        padding: 0;
        margin-bottom: 40px;
    }
    .tags p {
        margin: 8px 10px;
        padding: 8px 23px;
        color: #363A65;
        font-size: 10px;
    }
    .tagsButton {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 6vh;
    }
}


@media only screen and (max-width: 400px) {
    #SportTags {
        height: 110vh !important;
        overflow: auto;
    }
}


@media only screen and (max-width: 380px) {
    #DiscoveryTags {
        height: 105vh !important;
        overflow: auto;
    }
}

@media only screen and (max-width: 370px) {
    #DiscoveryTags {
        height: 110vh !important;
        overflow: auto;
    }
}

@media only screen and (max-width: 321px) {
    #CreativityTags, #DiscoveryTags, #HobbyTags {
        height: 120vh !important;
        overflow: auto;
    }
     #SportTags {
        height: 125vh !important;
    }
}

/******************************** cantWaitToThrill Page ********************************/

@media only screen and (max-width: 919px) {
    #cantWaitToThrill h2 {
        font-size: 30px;
        line-height: 64px;
    }
}

/******************************** whatBadge Page ********************************/

#whatBadge form {
    display: flex;
    flex-direction: column;
}

#badgesList {
    margin-top: 50px;
    display: flex;
}

#badgesList img {
    width: 170px;
    margin: 0 50px;
}

#badgesList img:hover:not(.selectedBadge), .selectedBadge {
    cursor: pointer;
    transform: scale(150%);
    transition: transform 0.2s;
}

.selectedBadge {
    filter: drop-shadow(0 0 10px rgb(3, 163, 255));
}

.badgeRadio {
    width: max-content;
    height: max-content;
}

input[type="radio"] {
    opacity: 0;
}

#badgeButton {
    margin-top: 50px;
}

@media only screen and (max-width: 1170px) {
    #whatBadge h2 {
        font-size: 30px;
        line-height: 64px;
    }

    #badgesList img {
        width: 100px;
        margin: 0 25px;
    }
}

@media only screen and (max-width: 720px) {
    #badgesList {
        width: 100vw;
        border: red solid 1px;
        padding: 50px 0;
        height: 120px !important;
        overflow: auto;
    }
}

/******************************** goodChoice Page ********************************/

@media only screen and (max-width: 919px) {
    #goodChoice h2 {
        font-size: 30px;
        line-height: 64px;
    }
}

/******************************** whatMail Page ********************************/

@media only screen and (max-width: 753px) {
    #whatMail h2 {
        font-size: 30px;
        line-height: 64px;
    }
}

/******************************** prepareProfile Page ********************************/

#createProfile {
    font-family: "Tisa Sans Pro-light";
    color: #363A65;
    font-size: 30px;
    margin-top: 40px;
}

#prgressBarBckgrnd {
    width: 325px;
    border-radius: 40px;
    background: #e5e5e5;
    margin-top: 10px;
}

#progressBar {
    width: 10%;
    border-radius: 40px;
    height: 39px;
    background: linear-gradient(to right, #f900b5, #8600e6, #3d52ee, #00dbff);
}

@media only screen and (max-width: 771px) {
    #prepareProfile h2 {
        font-size: 30px;
        line-height: 64px;
    }
    #createProfile {
        font-size: 15px;
        margin-top: 60px;
    }
    #progressBar {
        height: 23px;
    }
    #prgressBarBckgrnd {
        width: 80%;
    }
}

/******************************** lastThing Page ********************************/

@media only screen and (max-width: 889px) {
    #lastThing h2 {
        font-size: 30px;
        line-height: 64px;
    }
}

/******************************** followUs Page ********************************/

@media only screen and (max-width: 853px) {
    #followUs h2 {
        font-size: 30px;
        line-height: 64px;
    }
}

/******************************** Come on 2022 Page ********************************/

#comeOn2022 #logo img {
    width: 270px;
}

#comeOn2022 #SVGLogo2 img {
    width: 520px;
}

#comeOn2022 h2 {
    font-size: 40px;
    line-height: 43px;
}

#followButton {
    margin-top: 40px;
}

#thank {
    margin-top: -10px;
    font-size: 71px;
    text-align: center;
    color: #363A65;
    font-family: "Tisa Sans Pro";
}

#fingers {
    width: 66px;
}

@media only screen and (max-width: 679px) {
    #comeOn2022 h2 {
        font-size: 15px;
        line-height: 16px;
    }
    #comeOn2022 h2 img {
        width: 25px;
    }
    #comeOn2022 #logo img {
        width: 170px;
    }
    #comeOn2022 #SVGLogo2 img {
        width: 220px;
    }
}