@font-face {
    font-family: "Tisa Sans Pro";
    src: url('/ressources/fonts/TisaSansPro-BlackItalic.ttf');
}

* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

#previousPageButton, #nextPageButton {
    position: fixed;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 5;
}

#previousPageButton {
    left: 5vh;
    top: 5vh;
}

#nextPageButton {
    bottom: 5vh;
    left: 0;
    right: 0;
    margin: auto;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

h2 {
    font-size: 71px;
    text-align: center;
    color: #363A65;
    font-family: "Tisa Sans Pro";
    font-weight: 900;
    line-height: 77px;
    padding: 10px 0;
}

.none {
    display: none;
}

/*/ Buttons /*/

a {
    font-family: "Tisa Sans Pro";
    font-weight: 800;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none !important;
}

.wthBtn, .bordBtn {
    border-radius: 50px;
    width: max-content;
    margin: auto;
}

.innerBtn {
    border-radius: 20px;
}

.wthBtn {
    border: 10px solid #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
}

.bordBtn {
    display: flex;
    width: max-content;
    align-items: center;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    color: white;
    background: white;
    background-clip: padding-box;
    border: solid 5px transparent;
}

.bordBtn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(to right, #ce16d7, #8d6bff, #2992ff, #0bbef0);
}

.innerBtn {
    background: linear-gradient(to right, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none !important;
}

.wthBtn:hover, .innerBtn:hover, .selectedTag {
    background: linear-gradient(to right, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
    box-shadow: none;
}

.innerBtn:hover {
    cursor: pointer;
}

span {
    background: linear-gradient(to right, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
}

/******************************** Index Page ********************************/

#logo, #SVGLogo, #bordBtn {
    margin: auto;
    width: max-content;
}

#logo img {
    width: 300px;
}

/******************************** weSplitch Page ********************************/

/******************************** newSocialNetwork Page ********************************/

/******************************** passion Page ********************************/

#ballon {
    margin-bottom: -25px;
}

/******************************** emotion Page ********************************/

#passionTitle {
    margin-top: 13vh;
    margin-bottom: 5vh;
}

.slide {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.horizontalBlock {
    display: flex;
    flex-direction: row;
    width: max-content;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.container {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
}

#sliderPlus {
    position: absolute;
    right: 5vw;
    top: 40vh;
    border-radius: 100%;
    cursor: pointer;
}

#background2 {
    position: absolute;
    right: 0;
    top: 10vh;
    z-index: -10;
}

#background1 {
    position: absolute;
    right: 0;
    top: 50vh;
    z-index: -10;
}

/******************************** action Page ********************************/

/******************************** exchange Page ********************************/

#iconsExchange {
    display: flex;
    align-items: flex-start;
}

#iconsExchange img {
    margin: 15px;
}

#iconsExchange img:nth-child(2) {
    margin-top: 70px;
}

/******************************** beFirst Page ********************************/

.beFirstImg {
    position: absolute;
    opacity: 0.5;
}

#bckGrndImgBefirs1 {
    top: 13vh;
    left: -2vw
}

#bckGrndImgBefirs2 {
    top: 1vh;
    left: 17vw
}

#bckGrndImgBefirs3 {
    top: 13vh;
    left: 31vw
}

#bckGrndImgBefirs4 {
    top: -2vh;
    left: 44vw
}

#bckGrndImgBefirs5 {
    top: 6vh;
    right: 37vw;
}

#bckGrndImgBefirs6 {
    top: -11vh;
    right: 24vw;
}

#bckGrndImgBefirs7 {
    top: 17vh;
    right: 13vw
}

#bckGrndImgBefirs8 {
    top: 11vh;
    right: -1vw;
}

#bckGrndImgBefirs9 {
    bottom: 22vh;
    left: 2vw;
}

#bckGrndImgBefirs10 {
    bottom: 6vh;
    left: 15vw;
}

#bckGrndImgBefirs11 {
    bottom: 12vh;
    left: 29vw;
}

#bckGrndImgBefirs12 {
    bottom: -4vh;
    left: 40vw;
}

#bckGrndImgBefirs13 {
    bottom: 4vh;
    right: 42vw;
}

#bckGrndImgBefirs14 {
    bottom: 14vh;
    right: 30vw;
}

#bckGrndImgBefirs15 {
    bottom: 8vh;
    right: 18vw;
}

#bckGrndImgBefirs16 {
    bottom: 23vh;
    right: 4vw;
}

/******************************** enterInGame Page ********************************/

#enterInGame .wthBtn {
    margin-top: 30px;
}

/******************************** reserve Page ********************************/

#pic, #reserve h2 {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    width: 703px;
    height: 25px;
    padding: 20px 30px;
    font-family: "Tisa Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    margin-right: 20px;
}

input[type="submit"] {
    border: none;
}

/******************************** putAside Page ********************************/

/******************************** whatYouThrill Page ********************************/

/******************************** tags Page ********************************/

#tags h2 {
    margin-bottom: 40px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0 20px;
}

.tags p {
    height: max-content;
    width: max-content;
    margin: 8px 10px;
    padding: 10px 27px;
    font-size: 15px;
    box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    background-color: white;
    color: #363A65;
    font-family: "Tisa Sans Pro";
    cursor: pointer;
    opacity: 0;
}

.tags p:hover, .selectedTag {
    background: linear-gradient(to right, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
    box-shadow: none;
}

/******************************** cantWaitToThrill Page ********************************/

/******************************** whatBadge Page ********************************/

#badgesList {
    margin-top: 50px;
}

#badgesList img {
    width: 250px;
    margin: 0 50px;
}

#badgesList img:hover {
    cursor: pointer;
    transform: scale(120%);
}

/******************************** goodChoice Page ********************************/

/******************************** whatMail Page ********************************/

/******************************** prepareProfile Page ********************************/

/******************************** followUs Page ********************************/